.task-list {
  width: 250px;
  float: left;
  margin: 0 5px;
  background-color: #e3e3e3;
  min-height: 240px;
  border-radius: 10px;
  padding-bottom: 15px;

  .todo-task {
    border-radius: 5px;
    background-color: #fff;
    width: 230px;
    margin: 5px;
    padding: 5px;

    input {
      display: inline-block;
    }

    .task-header {
      display: inline-block;
      width: 200px;
      height: 30px;
    }
  }

}

